# Course folders
second-semester/Data-structure-and-algorithms-I/ST0245-Eafit
second-semester/Programming-Languages/st0244-pl
third-semester/Data-structure-and-algorithms-II/ST0247-Eafit

# Project folders
second-semester/Programming-Languages/cpp-oop/polish-notation-calculator
second-semester/Programming-Languages/regex-validate-gui-userform
second-semester/Data-structure-and-algorithms-I/ST0245

# Other folders (Development Languages or Code Editors)
__pycache__/
venv/
sorting-algorithms-venv/
logs/
neural-networks-venv/
exam-1-eda2-venv
challenge-class-venv
build/
nbproject/
test/
build.xml
manifest.mf